<template>
  <v-navigation-drawer permanent>
    <v-list>
      <template v-for="item in category1">
        <template v-if="item.items == null">
          <v-list-tile :to="item.path" :key="item.path">
            <v-list-tile-action>
              <v-icon>{{ item.action }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile>
        </template>
        <template v-else>
          <v-list-group
            :key="item.title"
            :prepend-icon="item.action"
            no-action
            v-model="item.active"
          >
            <v-list-tile slot="activator">
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile>
            <v-list-tile
              v-for="(subItem, i) in item.items"
              :key="i"
              :to="subItem.path"
            >
              <v-list-tile-title v-text="subItem.title" :to="subItem.path" :key="subItem.path"></v-list-tile-title>
              <v-list-tile-action>
                <v-icon v-text="subItem.action"></v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list-group>
        </template>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>


<script>
/* eslint-disable */
import { category1, category2, category3, category4 } from "./SidebarLinks";
import EventBus from "../../lib/eventBus";
export default {
  data() {
    return {
      category1: category1,
      category2: category2,
      category3: category3,
      category4: category4,
      backgroundFilters: null,
      expandSidebar: "",
      admins: [
        ['Management', 'people_outline'],
        ['Settings', 'settings']
      ],
      cruds: [
        ['Create', 'add'],
        ['Read', 'insert_drive_file'],
        ['Update', 'update'],
        ['Delete', 'delete']
      ]
    }
  },
  computed: {
    // change the background color of the sidebar
    sidebarFilter() {
      EventBus.$on("sidebarFilters", payload => {
        this.backgroundFilters = payload;
      });
      return this.backgroundFilters;
    }
  }
};
</script>
