<template>
    <div id="world-map-markers" style="width: 100%; height: 250px"></div>
</template>

<script>
/* eslint-disable */
import $ from 'jquery'
export default {
  mounted () {
    $(function () {
      $('#world-map-markers').vectorMap({
        scaleColors: ['#C8EEFF', '#0071A4'],
        normalizeFunction: 'polynomial',
        zoomButtons : false,
        hoverOpacity: 0.7,
        hoverColor: false,
        markerStyle: {
          initial: {
            fill: '#F7981C',
            stroke: '#F7981C'
          }
        },
        regionStyle: {
          initial: {
            fill: '#2E62FF'
          }
				},
        backgroundColor: '#FFF',
      })
    })
  }
}
</script>
