<template>
  <div class="session-banner">
    <v-container px-0>
      <v-layout row wrap>
        <v-flex xs12 sm10 md6 lg5 mx-auto>
          <div class="mb-70">
            <router-link to="/" class="white--text d-block text-xs-center">Staging Api OneDiver</router-link>
          </div>
          <div class="session-block">
            <div class="session-head text-xs-center">
              <div class="div-icon mb-3">
                <i class="ti-lock font-2x"></i>
              </div>
              <h3 class="mb-4">Login To OneDiver</h3>
              <p class="fs-14 px-5">Enter username and password to access control panel of OneDiver.</p>
            </div>
            <v-form ref="form" v-model="valid" class="mb-4" @submit.prevent="submit()" lazy-validation>
              <v-text-field label="E-mail ID" v-model="form.email" :rules="emailRules" required></v-text-field>
              <v-text-field label="Password" v-model="form.password" type="password" :rules="passwordRules" required></v-text-field>
              <v-checkbox label="Remember me" v-model="checkbox" required></v-checkbox>
              <v-btn 
                  type="submit" 
                  block 
                  :loading="loading" 
                  :disabled="loading"
                  class="btn-gradient-primary">
                    Login Now
              </v-btn>
              <v-btn @click="test" block class="btn-gradient-warning">Create Account</v-btn>
            </v-form>
            <p class="text-xs-center mb-0 log-link"><router-link to="/session/login">Forgot password?</router-link></p>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
export default {
  layout: 'fullscreen',
  head () {
    return {
      title: 'One Diver - Sign in',
      meta: [
        { hid: 'description', name: 'description', content: 'Onediver Login' }
      ]
    }
  },
  data () {
    return {
      checkbox: false,
      valid: false,
      form: {
        email: '',
        password: '',
        client_id: 123
      },
      loading: false,
      email: "",
      emailRules: [
        v => !!v || "E-mail is required",
        v =>
          /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          "E-mail must be valid"
      ],
      password: "",
      passwordRules: [v => !!v || "Password is required"]
    }
  },
  methods: {
    submit () {
        this.loading = true;
         if (this.$refs.form.validate()) {
            this.$store.dispatch('auth/login', {
              email: this.form.email,
              password: this.form.password,
              client_id: this.form.client_id
            }).then(result => {
              this.loading = false;
              this.alert = {type: 'success', message: result.data.message}
              this.loginSuccess()
              this.$router.push('/dashboard/operations')
            }).catch(error => {
              this.loading = false;
              this.loginError();
            })
        } else {
            this.validationError();
            this.loading = false;
        }
    },
    test () {
      this.loginSuccess();
    }
  },
  notifications: {
    validationError: {
        message: 'Please fill the required fields',
        type: 'error'
    },
    loginError: {
      message: 'Incorrect Username/Password',
      type: 'error'
    },
    loginSuccess: {
      message: 'Login Success',
      type: 'success'
    }
  }
}
</script>