<template>
  <div>
    <v-container fluid px-4 py-0>
      <div class="dash-title">
        <span>Dashboard</span>
        <v-tooltip v-model="overview" top>
          <a href="javascript:void(0);" slot="activator">
            <v-icon>ti-help-alt</v-icon>
          </a>
          <span>Dashboard Overview</span>
        </v-tooltip>
      </div>
      <!-- Dash Cards -->
      <v-layout row wrap border-rad-sm overflow-hidden>
        <!-- Sales -->
        <v-flex xl2 lg2 md2 sm4 xs12 mb-1 no-gutter>
          <v-layout class="dash-card">
            <div class="pa-3">
              <div class="layout justify-space-between mb-2">
                <div class="align-item-start">
                  <h3>$<countTo :startVal='0' :endVal='7007' :duration='5000'></countTo></h3>
                  <p class="ma-0 fs-14">May 2018 Sales</p>
                </div>
                <div class="align-item-end">
                  <h3 class="dash-icon"><i class="ti-money"></i></h3>
                </div>
              </div>
              <line-chart-shadow
                :dataSet="totalEarnings"
                :lineTension="0.4"
                :dataLabels="labels"
                gradientColor1="#008FD6"
                gradientColor2="#01C8C2"
                :width="370"
                :height="100">
              </line-chart-shadow>
            </div>
          </v-layout>
        </v-flex>

        <v-flex xl2 lg2 md2 sm4 xs12 mb-1 no-gutter>
          <!-- Education Sign Ups -->
          <div class="dash-card">
            <div class="pa-3">
              <div class="layout justify-space-between mb-2">
                <div class="align-item-start">
                  <h3><countTo :startVal='0' :endVal='0' :duration='5000'></countTo></h3>
                  <p class="ma-0 fs-14">Education Sign Ups</p>
                </div>
                <div class="align-item-end">
                  <h3 class="dash-icon"><i class="ti-book"></i></h3>
                </div>
              </div>
              <line-chart-shadow
                :dataSet="onlineRevenue"
                :lineTension="0.4"
                :dataLabels="labels"
                gradientColor1="#993FA6"
                gradientColor2="#FD1568"
                :width="370"
                :height="100">
              </line-chart-shadow>
            </div>
          </div>
        </v-flex>

        <v-flex xl2 lg2 md2 sm4 xs12 mb-1 no-gutter>
          <!-- Nautica Booking -->
          <div class="dash-card">
            <div class="pa-3">
              <div class="layout justify-space-between mb-2">
                <div class="align-item-start">
                  <h3><countTo :startVal='0' :endVal='0' :duration='5000'></countTo></h3>
                  <p class="ma-0 fs-14">Nautica Booking</p>
                </div>
                <div class="align-item-end">
                  <h3 class="dash-icon"><i class="ti-calendar"></i></h3>
                </div>
              </div>
              <line-chart-shadow
                :dataSet="offlineRevenue"
                :lineTension="0.4"
                :dataLabels="labels"
                gradientColor1="#F56074"
                gradientColor2="#F38617"
                :width="370"
                :height="100">
              </line-chart-shadow>
            </div>
          </div>
        </v-flex>

        <v-flex xl2 lg2 md2 sm4 xs12 mb-1 no-gutter>
          <!-- Mares Unit Sold -->
          <div class="dash-card border-0">
            <div class="pa-3">
              <div class="layout justify-space-between mb-2">
                <div class="align-item-start">
                  <h3><countTo :startVal='0' :endVal='17' :duration='5000'></countTo></h3>
                  <p class="ma-0 fs-14">MARES units sold</p>
                </div>
                <div class="align-item-end">
                  <h3 class="dash-icon"><i class="ti-truck"></i></h3>
                </div>
              </div>
              <line-chart-shadow
                :dataSet="marketingExpenses"
                :lineTension="0.4"
                :dataLabels="labels"
                gradientColor1="#008FD6"
                gradientColor2="#01C8C2"
                :width="370"
                :height="100">
              </line-chart-shadow>
            </div>
          </div>
        </v-flex>

        <v-flex xl2 lg2 md2 sm4 xs12 mb-1 no-gutter>
          <!-- Mares Unit Sold -->
          <div class="dash-card border-0">
            <div class="pa-3">
              <div class="layout justify-space-between mb-2">
                <div class="align-item-start">
                  <h3><countTo :startVal='0' :endVal='0' :duration='5000'></countTo></h3>
                  <p class="ma-0 fs-14">Pending Certs</p>
                </div>
                <div class="align-item-end">
                  <h3 class="dash-icon"><i class="ti-bookmark"></i></h3>
                </div>
              </div>
              <line-chart-shadow
                :dataSet="marketingExpenses"
                :lineTension="0.4"
                :dataLabels="labels"
                gradientColor1="#993FA6"
                gradientColor2="#FD1568"
                :width="370"
                :height="100">
              </line-chart-shadow>
            </div>
          </div>
        </v-flex>

        <v-flex xl2 lg2 md2 sm4 xs12 mb-1 no-gutter>
          <!-- Mares Unit Sold -->
          <div class="dash-card border-0">
            <div class="pa-3">
              <div class="layout justify-space-between mb-2">
                <div class="align-item-start">
                  <h3><countTo :startVal='0' :endVal='988' :duration='5000'></countTo> Unsynced</h3>
                  <p class="ma-0 fs-14">Xero Products</p>
                </div>
                <div class="align-item-end">

                </div>
              </div>
              <line-chart-shadow
                :dataSet="marketingExpenses"
                :lineTension="0.4"
                :dataLabels="labels"
                gradientColor1="#F56074"
                gradientColor2="#F38617"
                :width="370"
                :height="100">
              </line-chart-shadow>
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container fluid grid-list-xl>
      <v-layout row wrap>
        <!-- Pie Chart -->
        <v-flex xl6 lg6 md6 xs12 d-md-half-block b-50>  
          <div class="app-card mb-0 m-height-lg">
            <div class="app-card-title">
              <v-menu offset-y>
                <div slot="activator" class="drop-menu" style="color: #333">
                  <v-icon>money</v-icon>
                  <span> {{ graphPick.title }} </span>
                  <v-icon>ti-arrow-down</v-icon>
                </div>
                <v-list>
                  <v-list-tile v-for="(item, inc) in graphItems" :key="item.title" @click="graphHandler(inc,item.slug)">
                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>

              <div class="app-contextual-link">
                <v-menu origin="center center" transition="scale-transition" bottom>
                  <v-btn icon slot="activator">
                    <v-icon>more_vert</v-icon>
                  </v-btn>
                  <v-list>
                    <v-list-tile @click="testMethod">
                      <v-icon class="mr-1">settings</v-icon>
                      <v-list-tile-title>Settings</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="testMethod">
                      <v-icon class="mr-1">more</v-icon>
                      <v-list-tile-title>View More</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="testMethod">
                      <v-icon class="mr-1">notifications_off</v-icon>
                      <v-list-tile-title>Disable notifications</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </div>
            </div>

            <div class="app-card-content pos-relative" v-if="loaded">
              <pie-chart
                ref="chart"
                :chart-data="chartData" 
                :width="370" 
                :height="270" 
                class="chart-responsive"
              >
              </pie-chart>
            </div>
            <v-divider></v-divider>
            <v-data-table
                v-bind:headers="headers"
                :items="tableGraphData"
                hide-actions>
              <template slot="items" slot-scope="props">
                <!-- <td class="text-xs-right">{{ props.item.eqp }}</td>
                <td class="text-xs-right">{{ props.item.pc2 }}</td>
                <td class="text-xs-right">{{ props.item.pc1 }}</td>
                <td class="text-xs-right">{{ props.item.others }}</td>
                <td class="text-xs-right">{{ props.item.ttl }}</td> -->
              </template>
            </v-data-table>
          </div>
        </v-flex>

        <v-flex xl6 lg6 md6 xs12 d-md-half-block b-50>
          <!-- Pending Certification -->
          <div class="app-card mb-0 m-height-lg">
            <div class="app-card-title">
              <h3><v-icon>school</v-icon> Pending Certification</h3>
              <div class="app-contextual-link">
                <v-menu origin="center center" transition="scale-transition" bottom>
                  <v-btn icon slot="activator">
                    <v-icon>more_vert</v-icon>
                  </v-btn>
                  <v-list>
                    <v-list-tile @click="testMethod">
                      <v-icon class="mr-1">settings</v-icon>
                      <v-list-tile-title>Settings</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="testMethod">
                      <v-icon class="mr-1">more</v-icon>
                      <v-list-tile-title>View More</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="testMethod">
                      <v-icon class="mr-1">notifications_off</v-icon>
                      <v-list-tile-title>Disable notifications</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </div>
            </div>
            
            <div class="app-card-content pos-relative" v-if="loaded">
            </div>
          </div>
        </v-flex>

        <v-flex xl6 lg6 md7 xs12 d-md-half-block b-50>
          <!-- Inventory -->
          <div class="app-card mb-0 m-height-lg">
            <div class="app-card-title">
              <h3><v-icon>local_offer</v-icon> Inventory</h3>
            </div>

            <div class="app-card-content pos-relative" v-if="loaded">
            </div>
          </div>
        </v-flex>

        <v-flex xl6 lg6 md7 xs12 d-md-half-block b-50>
          <!-- Incomplete Profile -->
          <div class="app-card mb-0 m-height-lg">
            <div class="app-card-title">
              <h3><v-icon>account_box</v-icon> Incomplete Profile</h3>
            </div>
            

            <div class="app-card-content pos-relative" v-if="loaded">
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
//import Dropzone from "vue2-dropzone";
import SalesAnalysis from "~/components/dashboard/SalesAnalysisChart"
import LineChartShadow from "~/components/dashboard/LineChartShadow"
// Import for Graph
import CurrentGraph from "~/components/dashboard/CurrentGraph"
import PieChart from "~/components/dashboard/PieChart"
import countTo from "vue-count-to"

export default {
  components: {
    PieChart,
    CurrentGraph,
    SalesAnalysis,
    LineChartShadow,
    countTo
  },
  mounted () {
    this.initialize()
    this.fillData()
  },

  data () {
    return {
      overview: false,
      labels: ["A", "B", "C", "D", "E", "F", "J", "K", "L", "M", "N", "P"],
      totalEarnings: [30, 50, 25, 55, 44, 60, 30, 20, 40, 20, 40, 44],
      onlineRevenue: [30, 50, 25, 55, 44, 60, 30, 20, 40, 20, 40, 44],
      offlineRevenue: [30, 50, 25, 55, 44, 60, 30, 20, 40, 20, 40, 44],
      marketingExpenses: [30, 50, 25, 55, 10, 60, 30, 20, 40, 20, 70, 40],
      loaded: false,
      backgroundColor: [],
      headers: [],
      tableGraphData: [
        {
          eqp: 5007,
          pc2: 1400,
          pc1: 600,
          others: 0,
          ttl: 7007
        }
      ],
      graphItems: [
        { title: 'Shop', slug: 'shop' },
        { title: 'Product Type', slug: 'product-type' },
        { title: 'Education Category', slug: 'education-category' },
        { title: 'Equipment Category', slug: 'equipment-category' },
        { title: 'Equipment Brand', slug: 'equipment-brand' }
      ],
      graphPick: '',
      chartData: null
    }
  },
  head () {
    return {
      title: 'One Diver - Dashboard',
      meta: [
        { hid: 'description', name: 'description', content: 'Onediver Dashboard', breadcrumbs: 'Dashboard /' }
      ]
    }
  },
  fetch ({store, redirect}) {
    if (!store.state.auth.user) {
      redirect('/login')
    }
  },
  beforeMount() {
    this.$store.dispatch('auth/fetch')
  },
  computed: {
    user () { return (this.$store.state.auth || {}).user || null },
  },
  methods: {
    initialize () {
      this.graphPick = this.graphItems[0]
    },

    logOut () {
      this.$store.dispatch('auth/reset').then(() => {
        this.$router.push('/login')
      })
    },

    /*
    * Test Method
    **/
    testMethod () {
      alert('This is a test method')
    },

    /*
    * Fill Data
    **/
    fillData () {
      this.changeGraphPick(0)
      this.changeGraph('shop')
    },

    /*
    * Add data to chart
    **/
    changeGraphPick (newGraph) {
      this.graphPick = this.graphItems[newGraph]
    },

    /*
    * Change graph data
    **/
    changeGraph (slug) {
      this.loaded = false

      switch (slug) {
        case 'shop':

            this.addChartData(
              {
                labels: ['sample 1', 'sample 2', 'sample 3'],
                data: [100, 200, 600],
                headers: [
                  { text: 'Shop Account', value: 'shop_acc', sortable: false },
                  { text: 'Others', value: 'others', sortable: false },
                  { text: 'Total', value: 'ttl', sortable: false }
                ],
                table: [{}]
              }
            )

            break;
        
        case 'product-type':
            this.addChartData(
              {
                labels: ['sample 1', 'sample 2', 'sample 3', 'sample 4'],
                data: [100, 200, 600, 500],
                headers: [
                  { text: 'Equipment', value: 'eqp', sortable: false },
                  { text: 'Product Category 2', value: 'pc2', sortable: false },
                  { text: 'Product Category 1', value: 'pc1', sortable: false },
                  { text: 'Others', value: 'others', sortable: false },
                  { text: 'Total', value: 'ttl', sortable: false }
                ],
                table: [{}]
              }
            )

            break;
        
        case 'education-category':
            this.addChartData(
              {
                labels: ['sample 1', 'sample 2', 'sample 3', 'sample 4', 'sample 5'],
                data: [100, 200, 600, 500, 112.5],
                headers: [
                  { text: 'Others', value: 'others', sortable: false },
                  { text: 'Total', value: 'ttl', sortable: false }
                ],
                table: [{}]
              }
            )

            break;
        
        case 'equipment-category':
            this.addChartData(
              {
                labels: ['sample 1', 'sample 2', 'sample 3', 'sample 4', 'sample 5', 'sample 6'],
                data: [100, 200, 600, 500, 112.5, 150],
                headers: [
                  { text: 'Others', value: 'others', sortable: false },
                  { text: 'Total', value: 'ttl', sortable: false }
                ],
                table: [{}]
              }
            )

            break;

        case 'equipment-brand':
            this.addChartData(
              {
                labels: ['sample 1', 'sample 2', 'sample 3', 'sample 4', 'sample 5', 'sample 6', 'sample 7'],
                data: [100, 200, 600, 500, 112.5, 150, 195.5],
                headers: [
                  { text: 'Others', value: 'others', sortable: false },
                  { text: 'Total', value: 'ttl', sortable: false }
                ],
                table: [{}]
              }
            )

            break;
      }

      this.loaded = true
    
    },

    /*
    * changing graph color
    **/
    changeGraphColor (data) {
      let dataColor = []
      let border = []
      let backgroundColor = []
      var dataLength = data.length
      var index

      for(var i = 0; i <= dataLength; i++){
        backgroundColor.push(this.getRandomColor())
      }

      for (var i = 0; i <= dataLength; i++) {
        let x = backgroundColor[i]
        index = this.contains.call(dataColor, x)

        if (index) {
          backgroundColor.push(this.getRandomColor())
        } else {
          dataColor.push(x)
        }

        border.push(0)
      }

      backgroundColor = []

      this.chartData.datasets[0].backgroundColor =  dataColor
      this.chartData.datasets[0].borderWidth =  border
      this.chartData.datasets[0].hoverBackgroundColor =  dataColor
    },
    contains (needle) {
      // Per spec, the way to identify NaN is that it is not equal to itself
      var findNaN = needle !== needle;
      var indexOf;

      if(!findNaN && typeof Array.prototype.indexOf === 'function') {
          indexOf = Array.prototype.indexOf;
      } else {
          indexOf = function(needle) {
              var i = -1, index = -1;

              for(i = 0; i < this.length; i++) {
                  var item = this[i];

                  if((findNaN && item !== item) || item === needle) {
                      index = i;
                      break;
                  }
              }

              return index;
          };
      }

      return indexOf.call(this, needle) > -1;
    },

    /*
    * Add data to chart
    **/
    addChartData (obj) {
      this.chartData = {
        labels: obj.labels,
        datasets: [{
          data: obj.data,
        }]
      }
      this.changeGraphColor(obj.labels)
      this.headers = obj.headers
      this.tableGraphdata = obj.table
    },

    /*
    * change graph to render
    **/
    graphHandler (inc,slug) {
      this.changeGraphPick(inc)
      this.changeGraph(slug)
    },

    /*
    * Color randomize used it on adding 
    * graph data background colors
    **/
    getRandomColor () {
      var letters = '0123456789ABCDEF'
      var color = '#'
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)]
      }

      return color
    }
  }
}
</script>