<template>
    <v-layout row wrap>
        <v-flex xs12 sm12 md12>
            <div class="app-card">
                <div class="app-card-title">
                    <h1>Basic Information</h1>
                </div> 
                <v-card-text>
                    <v-layout wrap>
                        <v-flex xs12>
                            <v-text-field 
                                label="Name*"
                                prepend-icon="ti-bag"
                                v-model="data.short_description">
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field 
                                label="Description*" 
                                multi-line 
                                prepend-icon="ti-info-alt"
                                v-model="data.description">
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-select
                                :items="category"
                                label="Category*"
                                prepend-icon="ti-support"
                                v-model="data.type"
                                single-line
                                >
                            </v-select>
                        </v-flex>
                        <v-flex xs12>
                            <v-select
                                :items="sub_category"
                                label="Sub Category*"
                                prepend-icon="ti-support"
                                v-model="data.subtype"
                                single-line
                                >
                            </v-select>
                        </v-flex>
                        <v-flex xs12>
                            <v-select
                                v-model="data.brand"
                                :items="brands"
                                label="Brand"
                                prepend-icon="ti-package"
                                single-line
                                tags
                                >
                            </v-select>
                        </v-flex>
                    </v-layout>
                </v-card-text>
            </div>
            <div class="app-card mt-2">
                <v-card-text>
                    <v-tabs
                        color="green"
                        dark
                        slider-color="yellow"
                        >
                        <v-tab ripple>
                            Price
                        </v-tab>
                        <v-tab ripple>
                            Cost
                        </v-tab>
                        <v-tab-item >
                            <v-layout wrap>
                                <v-flex xs6>
                                    <v-text-field 
                                        label="Price*"
                                        prepend-icon="ti-money"
                                        v-model="data.price">
                                    </v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-tab-item>
                        <v-tab-item >
                            <v-layout wrap>
                                <v-flex xs6>
                                    <v-text-field 
                                        label="Cost*"
                                        prepend-icon="ti-money"
                                        v-model="data.price">
                                    </v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-tab-item>
                    </v-tabs>
                </v-card-text>
            </div>
        </v-flex>
    </v-layout>
</template>

<script>
export default {
    props: {
        data: { required: true }
    },
    data () {
        return {
            brands: [
                'Safesea',
                'Dive Junkie',
                'Eezycut',
                'Mares'
            ],
            availability: [
                { text: 'Global', value: 'global' }
            ],
            category: [
                { text: 'Equipment', value: 'eqp' }
            ],
            sub_category: [
                { text: 'Retail', value: 'rtl' }
            ]
        }
    }
}
</script>
