<template>
    <v-layout row wrap>
        <v-flex xs12>
            <div class="app-card">
                <div class="app-card-title">
                    <h1>Settings</h1>
                </div> 
                <v-card-text>
                    <v-layout wrap>
                        <v-flex xs12>
                            <label>Availability</label>
                            <v-radio-group v-model="data.availability">
                                <v-radio
                                    label="Global"
                                    value="global"
                                    color="primary"
                                ></v-radio>
                                <v-radio
                                    label="Let me choose"
                                    color="primary"
                                    :value="other"
                                ></v-radio>
                            </v-radio-group>
                            <v-divider></v-divider>
                        </v-flex>
                        <v-flex xs12>
                            <v-layout row wrap>
                                <v-flex xs2>
                                    <v-switch
                                        label="Visibility"
                                        color="primary"
                                        v-model="data.is_visible"
                                        ></v-switch>
                                </v-flex>
                                <v-flex xs3>
                                    <v-tooltip right>
                                        <v-icon slot="activator" dark color="primary">ti-info-alt</v-icon>
                                        <span>Determines if this product can be invoiced individually</span>
                                    </v-tooltip>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                        <v-flex xs12>
                            <v-switch
                                label="Active"
                                color="primary"
                                v-model="data.is_active"
                                >
                            </v-switch>
                        </v-flex>
                    </v-layout>
                </v-card-text>
            </div>
        </v-flex>
    </v-layout>
</template>

<script>
export default {
  props: {
      data: { required: true }
  },
  data () {
      return {
          other: ''
      }
  }
}
</script>
