/*============ Session ==========*/
.bg-sc {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 4rem 1rem;
    position: fixed;
    right: 0;
    top: 0;
}
.session-banner {
  background-image: url("~/assets/img/login-signup.png");
  @extend .bg-sc;
}
.lock-screen-wrapper {
  background-image: url("~/assets/img/lock-bg.png");
  @extend .bg-sc;
}
.lock-screen-block {
  .input-group, input[type="password"] {
    label {
      color: $light !important;
    }
  }
}
.block-center {
  transform: translate3d(0%, 50%, 0);
}
.session-block {
  background-color: $light;
  padding: 3.125rem; //50px;
  border-radius: 10px;
  box-shadow: 0 12px 34px 0 rgba(0,0,0,0.5);
  .log-link {
    a {
      text-decoration: none;
      color: $gray-light;
      &:hover {
        color: $primary;
      }
    }
  }
}
.session-head {
  .div-icon {
    i {
      color: $gray-light;
    }
  }
}
.session-content, .session-social-links  {
  * {
    color: $light;
  }
}
.session-social-links {
  ul {
    li {
      margin-bottom: 1.25rem; //20px;
    }
  }
  .session-icon {
    @include border(1px solid, $light, top bottom left right);
    border-radius: 4px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
  }
}
@media (max-width: 960px) and (min-width: 320px) {
  .d-sm-none {
    display: none;
  }
  .session-head {
    .px-5 {
      padding: 0 1rem !important;
    }
  }
}
@media (max-width: 700px) and (min-width: 320px) {
  .bg-sc {
    padding: 2rem 1rem;
  }
  .mb-70 {
    margin-bottom: 30px;
  }
}
