<template>
    <v-container fluid grid-list-xl py-0>
      <pre>
      {{ product }}
      </pre>
    </v-container>
</template>

<script>
import Axios from 'axios'

export default {
  mounted () {
    this.initialize()
  },
  data () {
    return {
      product: {}
    }
  },
  computed: {
    product () {
      return this.$store.state.user
    }
  },
  methods: {
    initialize () {
      this.fetchProduct(this.$route.params.id)
    },
    fetchProduct (id) {
      Axios.get('/products/' + this.$route.params.id + '.json', {headers: {'Content-Type': 'application/json'}})
        .then(
          (response) => {
            this.product = response.data.Product
          },
          (response) => {
            alert('Something Went Wrong!')
            console.log(response)
          }
        )
        .catch((response) => {
          console.log(response)
        })
    }
  }

}
</script>
