<template>
  <v-container fluid grid-list-xl py-0>
    <div class="app-card">
      <div class="app-card-title">
        <v-layout justify-end>
          <v-btn raised class="btn-primary">
            Import
          </v-btn>
          <v-menu offset-y>
            <v-btn slot="activator" raised class="btn-primary">
              <i class="ti-plus"></i>&nbsp;NEW PRODUCT
            </v-btn>
            <v-list>
              <v-list-tile @click="addProduct('simple')">
                <v-list-tile-title>Simple Product</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="addProduct('package')">
                <v-list-tile-title>Package Product</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="addProduct('variable')">
                <v-list-tile-title>Variable Product</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </v-layout>
      </div>
      <div class="app-card-content">
        <v-card-title>
          Products
        </v-card-title>
        <v-data-table
            v-bind:headers="headers"
            v-bind:items="items"
            v-bind:loading="loading"
            v-bind:pagination.sync="pagination"
            v-bind:total-items="total"
            :rows-per-page-items="[10,25,50]">
          <template slot="items" slot-scope="props">
            <td>
                {{ props.item.id }}
            </td>
            <td class="text-xs-right">
              <nuxt-link :to="'products/'+ props.item.id" >{{ props.item.sku }}</nuxt-link>
            </td>
            <td class="text-xs-center">{{ props.item.short_description }}</td>
            <td class="text-xs-right">{{ props.item.category }}</td>
            <td class="text-xs-right">{{ props.item.brand }}</td>
            <td class="text-xs-right">{{ props.item.model }}</td>
            <td class="text-xs-right">{{ props.item.type }}</td>
            <td class="text-xs-center">$ {{ props.item.price }}</td>
            <td class="text-xs-center">
              <v-chip v-if="props.item.is_active" color="green" text-color="white">Active</v-chip>
              <v-chip v-else color="red" text-color="white">Inactive</v-chip>
            </td>
          </template>
          <template slot="pageText" slot-scope="{ pageStart, pageStop }">
            From {{ pageStart }} to {{ pageStop }}
          </template>
        </v-data-table>
      </div>
    </div>
  </v-container>
</template>

<script>
  import axios from 'axios'

  export default {
    layout: 'full',
    head () {
      return {
        title: 'One Diver - Products',
        meta: [
          { hid: 'description', name: 'description', content: 'My custom description', breadcrumbs: 'Products /' }
        ]
      }
    },
    fetch ({store, redirect}) {
      if (!store.state.auth.user) {
        redirect('/login')
      }
    },
    mounted () {
      this.getDataFromApi()
          .then(data => {
              this.items = data.items
              this.total = data.total
            })
    },
    data () {
      return {
        max25chars: (v) => v.length <= 25 || 'Input too long!',
        tmp: '',
        pagination: {},
        loading: true,
        total: 0,
        availability: [
          { text: 'Global', value: 'global' }
        ],
        category: [
          { text: 'Equipment', value: 'eqp' }
        ],
        sub_category: [
          { text: 'Retail', value: 'rtl' }
        ],
        headers: [
          {
            text: 'ID',
            align: 'left',
            sortable: false,
            value: 'id'
          },
          { text: 'SKU', align: 'right', value: 'sku' },
          { text: 'Name', align: 'center', value: 'short_description', sortable: false },
          { text: 'Category', align: 'center',  value: 'category',sortable: false },
          { text: 'Brand', align: 'center',  value: 'brand' },
          { text: 'Model', align: 'center',  value: 'model',sortable: false },
          { text: 'Type', align: 'center',  value: 'type',sortable: false },
          { text: 'Price', align: 'center',  value: 'price',sortable: false },
          { text: 'Status', align: 'center', value: 'is_active',sortable: false }
        ],
        items: [],
        rawItems: [],
        dialog: false,
        valid: true,
        editedIndex: -1,
        editedItem: {
            type: '',
            subtype: '',
            description: '',
            short_description: '',
            price: '',
            availability: ''
        },
	      defaultItem: {
            type: '',
            subtype: '',
            description: '',
            short_description: '',
            price: '',
            availability: ''
        }
      }
    },
    methods: {
      getDataFromApi () {
        this.loading = true
        return new Promise((resolve, reject) => {
          const { sortBy, descending, page, rowsPerPage } = this.pagination
         
          this.productInit(page,rowsPerPage,sortBy, descending)
          let items = this.items
          const total = this.total

              if (this.pagination.sortBy) {
                items = items.sort((a, b) => {
                  const sortA = a[sortBy]
                  const sortB = b[sortBy]

                  if (descending) {
                    if (sortA < sortB) return 1
                    if (sortA > sortB) return -1
                    return 0
                  } else {
                    if (sortA < sortB) return -1
                    if (sortA > sortB) return 1
                    return 0
                  }
                })
              }

          if (rowsPerPage > 0) {
            items = items.slice((page - 1) * rowsPerPage, page * rowsPerPage)
          }

          setTimeout(() => {
            this.loading = false
            resolve({
              items,
              total
            })
          }, 1000)
        })
      },
      productInit (page, count, sortBy, descending) {
        var num = (page) ? page : 1;
        var limit = (count) ? count: 10;
        if( sortBy != 'sku' ) var sort = 'Product.'+ sortBy;
        else var sort = 'modified';
        //var sort = (sortBy) ? 'Product.'+sortBy: 'modified';
        var order = (descending) ? 'desc' : 'asc';

        let rawProducts = [];
        //http://staging-api.onediver.com/products?page=1&count=25&sorting%5Bmodified%5D=desc&active=1&visible=1&sorting%5Bsku%5D=desc&includes=shop_quantities
        axios.get('/products?page='+num+'&count='+ limit +'&sorting%5B'+ sort +'%5D='+ order +'&active=1&visible=1&sorting%5Bsku%5D=desc&includes=shop_quantities',{ headers: { 'Content-Type': 'application/json'}})
            .then(response => {
              rawProducts = response.data.products;
              this.items = Object.keys( rawProducts ).map( (key) => rawProducts[key]['Product'] );
              this.total = response.data.count;
            }).catch(error => {
              console.log(error)
            })
      },
      close () {
          this.dialog = false
      },
      addProduct (x) {
        let loc
        switch (x) {
          case 'simple':
            loc = x
            break

          case 'package':
            loc = x
            break

          case 'variable':
            loc = x
            break

          default:
            loc = ''
            break
        }

        this.$router.push('/catalog/products/create/' + loc)
      },
      save () {
        this.loading = true
        let Prod = {
            Product: {
                product_class_id : this.editedItem.type,
                product_type_id: this.editedItem.subtype,
                description : this.editedItem.description,
                short_description : this.editedItem.short_description,
                price : this.editedItem.price,
                availability : this.editedItem.availability
            }
          }

        axios.post('/products',Prod,{ headers: { 'Content-Type': 'application/json'}})
            .then(response => {
              console.log(response.data.Product);
              this.productSuccess();
              this.loading = false
            }).catch(error => {
              console.log(error);
              this.productError();
              this.loading = false
            })
      }
    },
    watch: {
      pagination: {
        handler () {
          this.getDataFromApi()
        },
        deep: true
      }
    },
    notifications: {
      productSuccess: {
          message: 'Product Successfully added',
          type: 'success'
      },
      productError: {
        message: 'Oops! There was a problem adding the product.',
        type: 'error'
      }
    }
  }
</script>
