<!-- App Main Structure -->
<template>
  <v-app>
    <div class="theme--light">
      <!-- App Header -->
      <app-header></app-header>
      <!-- App Main Content -->
      <v-content>
        <!-- Breadcrumbs -->
        <v-container fluid>
          <!-- <v-breadcrumbs class="px-2">
            <h2 class="text-capitalize mb-0">Titolo</h2>
            <div class="spacer"></div>
            <v-icon slot="divider">chevron_right</v-icon>
            <v-breadcrumbs-item>
              Breadcrumbs
            </v-breadcrumbs-item>
          </v-breadcrumbs> -->
        </v-container>
        <!-- App Router -->
        <transition name="fade" mode="out-in">
          <nuxt />
        </transition>
      </v-content>
      <!-- app customizer -->
      
      <!-- App Back To Top -->
      
    </div>
  </v-app>
</template>

<script>
/* eslint-disable */
import Header from "../components/Header/Header.vue";

export default {
  components: {
    appHeader: Header
  },
  computed: {
    
  }
};
</script>
<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
