<template>
  <v-container fluid grid-list-xl py-0>
    <v-layout row wrap>
        <v-flex xs12 md4>
            <div class="app-card">
                <div class="app-card-title">
                    <h3>Add Image</h3>
                </div>
                <div class="app-card-content">
                    <div class="mb-3">
                        <v-card-media
                        height="350px"
                        >
                        <img src="~/assets/img/blog-1.jpg" alt="">
                        <v-container fill-height fluid>
                            <v-layout fill-height>
                            <v-flex xs12 align-end flexbox>
                                <span class="headline white--text">An Image</span>
                            </v-flex>
                            </v-layout>
                        </v-container>
                        </v-card-media>
                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn icon>
                            <v-icon>add_a_photo</v-icon>
                        </v-btn>
                        </v-card-actions>
                    </div>
                </div>
            </div>
        </v-flex>
        <v-flex xs12 md8>
            <div class="app-card">
                <div class="app-card-content">
                    <div class="mb-3"></div>
                    <v-tabs icons-and-text centered>
                        <v-tabs-slider color="black"></v-tabs-slider>
                        <v-tab @click="changeParentTab(1)">
                            Basic Info
                        <v-icon>account_circle</v-icon>
                        </v-tab>
                        <v-tab @click="changeParentTab(2)">
                            Gallery
                        <v-icon>collections</v-icon>
                        </v-tab>
                        <v-tab @click="changeParentTab(3)">
                            Attribute
                        <v-icon>edit_attributes</v-icon>
                        </v-tab>
                        <v-tab @click="changeParentTab(4)">
                            Inventory
                        <v-icon>local_offer</v-icon>
                        </v-tab>
                        <v-tab @click="changeParentTab(5)">
                            Settings
                        <v-icon>settings</v-icon>
                        </v-tab>
                    </v-tabs>
                    <v-layout>
                        <v-flex>
                            <v-card flat>
                                <v-card-text v-if="basic">
                                    <!-- Basic Information Form -->
                                    <v-form v-model="form2.valid" ref="formAdd" lazy-validation>
                                        <v-flex md10 xs12>
                                            <v-text-field
                                                label="Name"
                                                v-model="form2.name"
                                                :rules="form2.nameRules"
                                                multi-line
                                                required
                                            ></v-text-field>
                                            <v-text-field
                                                label="Description"
                                                v-model="form2.description"
                                                :rules="form2.descriptionRules"
                                                multi-line
                                                required
                                            ></v-text-field>
                                            <v-select
                                                label="Type"
                                                v-model="form2.typeSelect"
                                                :items="form2.type"
                                                :rules="[v => !!v || 'Item is required']"
                                                required
                                            ></v-select>
                                            <v-select
                                                label="Subtype"
                                                v-model="form2.subtypeSelect"
                                                :items="form2.subType"
                                                :rules="[v => !!v || 'Item is required']"
                                                required
                                            ></v-select>
                                            <v-select
                                                label="Category"
                                                v-model="form2.categorySelect"
                                                :items="form2.items"
                                                :rules="[v => !!v || 'Item is required']"
                                                required
                                            ></v-select>
                                            <v-select
                                                label="Subcategory"
                                                v-model="form2.subCategory"
                                                :items="form2.items"
                                                :rules="[v => !!v || 'Item is required']"
                                                required
                                            ></v-select>
                                            <v-text-field
                                                label="Brand"
                                                v-model="form2.brand"
                                                :rules="form2.brandRules"
                                                required
                                            ></v-text-field>
                                            <v-text-field
                                                label="Model"
                                                v-model="form2.model"
                                                :rules="form2.modelRules"
                                                required
                                            ></v-text-field>
                                            <v-text-field
                                                label="Manufacturer's Code"
                                                v-model="form2.manufacturersCode"
                                                :rules="form2.manufacturersCodeRules"
                                                required
                                            ></v-text-field>
                                            <v-text-field
                                                label="Tags"
                                                v-model="form2.tags"
                                                :rules="form2.tagsRules"
                                                required
                                            ></v-text-field>
                                        </v-flex>
                                        <v-divider></v-divider>
                                        <v-tabs text dark color="light-blue">
                                            <v-tabs-slider color="black"></v-tabs-slider>
                                            <v-tab @click="changeBasicTab('price')">
                                                Price
                                            </v-tab>
                                            <v-tab @click="changeBasicTab('cost')">
                                                Cost
                                            </v-tab>
                                        </v-tabs>

                                        <v-card flat>
                                            <v-card-text v-if="price">
                                                <v-flex md4 xs12>
                                                    <v-text-field
                                                        label="Price"
                                                        v-model="form2.price"
                                                        :rules="form2.priceRules"
                                                        required
                                                    ></v-text-field>
                                                </v-flex>
                                                <v-flex md10 xs12>
                                                    <v-select
                                                        label="Price Variation"
                                                        v-model="form2.priceSelect"
                                                        :items="form2.items"
                                                        :rules="[v => !!v || 'Price Variation is required']"
                                                        required
                                                    ></v-select>
                                                </v-flex>
                                            </v-card-text>
                                            <v-card-text v-if="cost">
                                                <v-flex md4 xs12>
                                                    <v-text-field
                                                        label="Cost"
                                                        v-model="form2.cost"
                                                        :rules="form2.costRules"
                                                        required
                                                    ></v-text-field>
                                                </v-flex>
                                                <v-flex md10 xs12>
                                                    <v-select
                                                        label="Cost Variation"
                                                        v-model="form2.costSelect"
                                                        :items="form2.items"
                                                        :rules="[v => !!v || 'Cost Variation is required']"
                                                        required
                                                    ></v-select>   
                                                </v-flex>
                                                
                                            </v-card-text>
                                        </v-card>

                                        <v-btn
                                            @click.prevent="submit"
                                            :disabled="!form2.valid"
                                            class="btn-secondary"
                                        >
                                            submit
                                        </v-btn>
                                        <v-btn @click="clear" class="btn-primary">clear</v-btn>
                                    </v-form>
                                </v-card-text>
                                <v-card-text v-if="gallery">
                                    {{ text + 2 }}
                                </v-card-text>
                                <v-card-text v-if="attribute">
                                    {{ text + 3 }}
                                </v-card-text>
                                <v-card-text v-if="inventory">
                                    {{ text + 4 }}
                                </v-card-text>
                                <v-card-text v-if="settings">
                                    {{ text + 5 }}
                                </v-card-text>
                            </v-card>        
                        </v-flex>
                    </v-layout>

                    <!-- Notification Dialog -->
                    <v-dialog v-model="notification.toggle" max-width="500px">
                        <v-card>
                            <v-card-title>
                            <span><v-icon>add</v-icon> {{ notification.title }}</span>
                            <v-spacer></v-spacer>
                            </v-card-title>
                            <v-card-content>
                                <center><h3>{{ notification.content }}</h3></center>
                            </v-card-content>
                            <v-card-actions>
                            <v-btn justify-end class="btn-danger" @click.stop="closeDialog">Close</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                        
                </div>
            </div>
        </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import Axios from 'axios'

export default {
    head () {
        return {
            title: 'One Diver - New Product',
            meta: [
                { hid: 'description', name: 'description', content: 'One Diver - Create New Basic Product' }
            ]
        }
    },
    data () {
        return {
            tabs: ["1", "2", "3"],
            tabs2: null,
            active: null,
            items: ["Item One", "Item Seventeen", "Item Five"],
            text:
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
            form2: {
                valid: true,
                name: "",
                nameRules: [
                v => !!v || "Name is required"
                ],

                description: "",
                descriptionRules: [
                v => !!v || "Name is required"
                ],

                typeSelect: null,
                subtypeSelect: null,
                categorySelect: null,

                subCategory: '',
                brand: '',
                model: '',
                manufacturersCode: '',
                manufacturersCodeRules: [
                v => !!v || "Manufacturer's Code is required"
                ],

                tags: '',
                tagsRules: [
                v => !!v || "Tags is required"
                ],

                price: '',
                priceRules: [
                v => !!v || "price is required"
                ],

                priceSelect: null,

                cost: '',
                costRules: [
                v => !!v || "Cost is required"
                ],

                costSelect: null,

                select: null,

                type: ['Product Category 1', 'Product Category 2', 'Equipment'],
                subType: ['Product Category Sample'],
                items: ["Item 1", "Item 2", "Item 3", "Item 4"],
                checkbox: false
            },
            cost: false,
            price: true,
            basic: true,
            gallery: false,
            attribute: false,
            inventory: false,
            settings: false,
            notification: {
                toggle: false,
                title: '',
                content: ''
            }
        }
    },
    methods: {
        test () {
            console.log('test');
        },
        submit() {
            if (this.$refs.formAdd.validate()) {
                this.addProduct()
            }
        },
        clear() {
            this.$refs.formAdd.reset();
        },
        changeBasicTab (x) {
             switch (x) {
                case 'cost':
                   this.cost = true
                   this.price = false
                   break;
                
                default: 
                    this.price = true
                    this.cost = false
                    break
             }   
        },
        changeParentTab (x) {
            switch (x) {
                
                case 2:
                    this.basic = false
                    this.gallery = true
                    this.attribute = false
                    this.inventory = false
                    this.settings = false
                    break
                
                case 3:
                    this.basic = false
                    this.gallery = false
                    this.attribute = true
                    this.inventory = false
                    this.settings = false
                    break
                
                case 4:
                    this.basic = false
                    this.gallery = false
                    this.attribute = false
                    this.inventory = true
                    this.settings = false
                    break

                case 5:
                    this.basic = false
                    this.gallery = false
                    this.attribute = false
                    this.inventory = false
                    this.settings = true
                    break
                
                default:
                    this.basic = true
                    this.gallery = false
                    this.attribute = false
                    this.inventory = false
                    this.settings = false
                    break
            }   
        },
        addProduct () {
            let product = {
                Product: {
                    product_class_id: 'eqp',
                    product_type_id: 'rtl',
                    description: this.form2.description,
                    short_description: this.form2.name,
                    brand: this.form2.brand,
                    model: this.form2.model,
                    price: this.form2.price,
                    availability: 'global'
                }
            }

            Axios.post('/products/', product, {headers: {'Content-Type' : 'application/json'}})
                .then(
                    (response) => {
                        this.notification.title = 'Add Product'
                        this.notification.content = 'Successfully Added!'
                        this.notification.toggle = true
                    },
                    (response) => {
                        this.notification.title = 'Add Product'
                        this.notification.content = response
                        this.notification.toggle = true
                    },
                )
                .catch(
                    (response) => {
                        this.notification.title = 'Add Product'
                        this.notification.content = response
                        this.notification.toggle = true
                    }
                )
        },
        closeDialog () {
            this.notification.toggle = false
            this.$refs.formAdd.reset();
        }
    }
}

</script>

<style scoped>
    .fade-enter-active {
        transition: all 0.4s
    }
    .fade-enter {
        opacity: 0;
        margin-left: 90px;
    }
    .fade-leave-active {
        transition: all 0.4s;
        opacity: 0;
        margin-left: -100px;
    }
</style>
